.bot:hover{
    background-color: rgb(149, 230, 27);
}
.the:hover{
    background-color: rgb(149, 230, 27);
}
.see:hover{
    background-color: rgb(149, 230, 27);
}
.a:hover{
    background-color: rgb(149, 230, 27);
}
.rus:hover{
    background-color: rgb(149, 230, 27);
}
.uzb:hover{
    background-color: rgb(149, 230, 27);
}
.eng:hover{
    background-color: rgb(149, 230, 27);
}
.tol:hover{
    background-color: rgb(149, 230, 27);
}
.login:hover{
    background-color: rgb(149, 230, 27);
}
.sing:hover{
    background-color: rgb(149, 230, 27);
}
.card1:hover{
    box-shadow: 0px 0px 10px 10px;
    color: rgba(62, 62, 62, 0.785);
}
.card:hover{
    box-shadow: 0px 0px 10px 10px;
    color: rgba(62, 62, 62, 0.785);
}
