.bot:hover{
    background-color: rgb(149, 230, 27);
}
.the:hover{
    background-color: rgb(149, 230, 27);
}
.see:hover{
    background-color: rgb(149, 230, 27);
}
.a:hover{
    background-color: rgb(149, 230, 27);
}
.rus:hover{
    background-color: rgb(149, 230, 27);
}
.uzb:hover{
    background-color: rgb(149, 230, 27);
}
.eng:hover{
    background-color: rgb(149, 230, 27);
}
.tol:hover{
    background-color: rgb(149, 230, 27);
}
.login:hover{
    background-color: rgb(149, 230, 27);
}
.sing:hover{
    background-color: rgb(149, 230, 27);
}
.roll:hover{
    box-shadow: 20;
}